.ventana,.container, .container_content{
	width:100%;
	color:white;
	background:black;
}


.ventana{
	min-height:100%;
}

.container_content{
	display:flex;
}


.container .left{
	 width:55%;
	height:100%;
	display:flex;
	flex-direction:column;
	padding:30px;
	padding-left:50px;
	padding-top:45px;
}

.left .bottomLeft{
	width:100%;
	padding:21px;
}



.left .card{	
	margin:16px 0;
}


.left .card .card_title{
	margin-bottom:15px;
}


.left .card .cardFirst{
	display:flex;
	flex-direction:column-reverse;
}


.cardFirst .first_left{
	flex:1;
}

.cardFirst .first_right{
	width:88%;
	height:190px;
	max-width:380px;
	margin:0 auto;
	margin-bottom:20px;
}


.cardFirst .first_right .cardPicture{
	width:100%;
	height:100%;
	border:1px solid #292929;
	border-radius:10px;
	box-shadow:0 1px 2px -1px rgba(0,0,0,.9) ,0 2px 3px rgba(0,0,0,.9) ,0 3px 5px rgba(0,0,0,.9) ,0 4px 8px rgba(0,0,0,.9) ,0 5px 16px rgba(0,0,0,.9);
    padding:9px 30px;
	background:#000814;

}

.cardPicture .image1{
	display:flex;
	justify-content:flex-end;
	margin-bottom:10px;
}

.image1 > span{
	width:80px;
	height:35px;
	display:inline-block;
}

.image1 > span svg{
	width:100%;
	height:100%;
}



.cardPicture .image2{
	margin-bottom:10px;
}

.cardPicture .image2 span{
	width:40px;
	height:40px;
	display:inline-block;
}

.cardPicture .image2 span svg{
	width:100%;
	height:100%;
}


.cardPicture .cardNumber{
	width:145px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-bottom:10px;
}

.cardPicture .cardNumber > span{
	width:6px;
	height:6px;
	background:gray;
	border-radius:50%;
	display:inline-block;
}



.cardFirst .cardNumber .inputCardNumber{
	display:flex;
	width:100%;
	align-items:center;
}


.cardFirst .inputCardNumber .inputContainer{
	width:100%;
	border:1px solid gray;
	border-radius:5px;
	margin-right:20px;
}

.inputContainer input{
	width:100%;
	height:100%;
	padding:5px 5px 5px 7px;
	background:inherit;
	color:white;
}


.cardFirst .inputCardNumber .imageCard{
	width:50px;
	height:25px;
	border:1px dashed gray;
	border-radius:5px;
}





.cardFirst .dateCard{
	display:flex;
	justify-content:space-between;
	margin:15px 0;
}

.cardFirst .dateCard > div{
	width:45%;
}



.cardFirst .dateCard .expiration .inputContainer{
	width:100%;
}

.expiration .inputContainer input{
	width:100%;
	padding:5px 5px 5px 7px;
	border:1px solid gray;
	border-radius:5px;
	color:white;
}




.cardFirst .dateCard .cvc .inputContainer{
		width:100%;
}

.cardFirst .dateCard .cvc .inputContainer input{
	width:100%;
	border:1px solid gray;
	border-radius:5px;
	color:white;
}



.card .cardNameCard{

}

.card .cardNameCard .inputContainer{
	width:100%;
}

.card .cardNameCard .inputContainer input{
	width:100%;
	border:1px solid gray;
	border-radius:5px;
	color:white;
}




/*--------Table info------*/

.left .bottomLeft .tableInfo{
	width:100%;
	margin-top:30px;
}

.left .bottomLeft .tableInfo .tableInfo_content{
	border:1px solid gray;
	display:flex;
	flex-direction: column;
	padding:0 17px;
	border-radius:5px;
}



.left .bottomLeft .tableInfo .tableInfo_content .contact{
	display:flex;
	justify-content:space-between;
}

.bottomLeft .tableInfo .tableInfo_content{
	display:flex;

}

.bottomLeft .tableInfo .tableInfo_content  div > a{
	color:blue;
}

.bottomLeft .tableInfo .tableInfo_content > div{
	padding:16px 0;
	display:flex;
	justify-content:space-between;
}

.bottomLeft .tableInfo .tableInfo_content > div > p:nth-child(1){
	width:18%;
	padding-right:5px;
}

.bottomLeft .tableInfo .tableInfo_content > div .center{
	width:65%;
}

.bottomLeft .tableInfo.tableInfo_content  > div:nth-child(1){
	border-bottom:1px solid gray;
}

.bottomLeft .tableInfo .tableInfo_content > div:nth-child(2){
	border-bottom:1px solid gray;
	border-top:1px solid gray;
}





.left .bottomLeft .botones{
	display:flex;
	justify-content:space-between;
	width:100%;
	margin-top:20px;
	align-items:center;
}

.left .bottomLeft .botones .redirect{
	display:flex;
}


.left .bottomLeft .botones .redirect > a{
	text-decoration:none;
}


.left .bottomLeft .botones .redirect > a > span:nth-child(1){
	width:15px;
	height:15px;
	display:inline-block;
	position:relative;
	top:3px;
}


.redirect a > span:nth-child(1) svg{
	width:100%;
	height:100%;
	stroke:blue;

}


.redirect a > span:nth-child(2){
	color:blue;

}



.botones .botonPay{
	text-align:center;
	background:#0046b3;
	border:1px solid blue;
	padding:21px;
	border-radius:5px;
	cursor:pointer;
	width:40%;
	transition:background-color 150ms ease;
}

.botones .botonPay:hover{
	background:#0064ff;
}



/*este breakpoint solo es para el botones del ultimo de redirect y Pay now*/
@media (max-width:760px){
	.botones{
		flex-direction:column-reverse;
		gap:23px;
	}

	.botones .botonPay{
		width:100%;
	}
}


/*este breakpoint es para las ventanas y padres asi*/
@media (max-width:1000px){
	.container .container_content .left{
		width:100%;
	}

	.container .left{
		padding:0;
	}

	.left .bottomLeft{
    	max-width:580px;
	  margin:0 auto;
	  margin-top:20px;
	  padding:21px;

   }
}